@import "./globals";
// section {
//   margin: 50px 0;
// }
.service {
  padding-bottom: 20vh;
}
.outro {
  display: flex;
  justify-content: center;
  padding-block: 10vh;
}
.intro {
  height: 100vh;
  padding-top: 200px;
  display: flex;
  align-items: center;
}
.ab-context {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  h2 {
    font-size: $large;
    max-width: 80%;
  }
  p {
    font-size: $text;
    font-weight: 400;
  }
  @media screen and (max-width: 450px) {
    padding: 10px;
    h2 {
      font-size: $headings;
      max-width: 80%;
    }
  }
}

.ab-count {
  @include flexCenter(center, center, row);
  padding: 100px;

  gap: 40px;
  .c-p {
    flex: 1;
    @include flexCenter(center, center, column);
    padding: 30px 50px;
    background-color: $kaizen-white;
    border-radius: 30px;
    span {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    h2 {
      font-size: $large;
      font-weight: 700;
    }
    p {
      font-family: $century-gothic;
      font-size: $text;
    }
  }
  @media screen and (max-width: 450px) {
    padding: 10px;
    text-align: center;
    @include flexCenter(center, center, column);
  }
}
