@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic"), local("CenturyGothic"),
    url("./assets/font/CenturyGothic.woff2") format("woff2"),
    url("./assets/font/CenturyGothic.woff") format("woff");
  font-display: swap;
}
////VARIABLES/////
////VARIABLES/////
////VARIABLES/////
////VARIABLES/////
//container
$container-max-width: 1272px;
$container-padding: 40px;
$container-padding-mobile: 20px;

$standard-border: 15px;
$letter-spaceing: -0.5px;
// Sass variables
// Container class
.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
  @media screen and (max-width: 450px) {
    padding-left: $container-padding-mobile !important;
    padding-right: $container-padding-mobile !important;
  }
}

// color
$kaizen-black: #111214;
$kaizen-blue: #000796;
$kaizen-blue-highlight: #3c4090;
$kaizen-white: #f2edf4;
$kaizen-text: #131313;

//typography
//sizes
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

html {
  font-size: 100%;
} /*16px*/

div,
p,
a,
span {
  user-select: none; // chrome and Opera
  -moz-user-select: none; // Firefox
  -webkit-text-select: none; // IOS Safari
  -webkit-user-select: none; // Safari
}

body {
  // background: white;
  // font-family: 'Roboto', sans-serif;
  // font-weight: 400;
  // line-height: 1.7;
  // color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
  // margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.7;
}
/* For h1 */
h1 {
  font-size: clamp(3rem, 6vw, 5.653rem);
  letter-spacing: -2px !important;
}

/* For h2 */
h2 {
  font-size: clamp(2rem, 4vw, 3.998rem) !important;
}

/* For h3 */
h3 {
  font-size: clamp(1.5rem, 3vw, 2.827rem);
}

/* For h4 */
h4 {
  font-size: clamp(1.8rem, 2vw, 1.999rem);
}

/* For h5 */
p,
h5 {
  font-size: clamp(0.8125rem, 1.5vw, 1.414rem) !important;
  margin-bottom: 20px;
}

/* For small text */
small,
.text_small {
  font-size: clamp(0.5rem, 1vw, 0.707rem) !important;
}

$large: 5.653rem;
$text: 1.25rem;
$text-small: 1.125rem;
$btn-text: 1.5625rem;
$mediums: clamp(1.85rem, 1.4942rem + 1.2652vw, 2.5rem);
$headings: clamp(1.85rem, 0.8099rem + 3.6983vw, 3.75rem);
$footer-big: clamp(18rem, 20.5537rem + -11.6742vw, 1.875rem);
//families
$roboto: "Roboto", sans-serif;
$century-gothic: "Century Gothic";

::selection {
  background: $kaizen-black;
  color: $kaizen-white;
}

// Define common styles for both light and dark modes

//generals
// .gsap-unset {
//   all: unset !important;
// }

@media print {
  @page {
    size: landscape;
  }

  .no-print {
    display: none;
  }
  .page-break {
    page-break-before: always; /* Insert a page break before this element */
  }
  img {
    max-width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: $kaizen-black;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $century-gothic;
  font-weight: 600;
  line-height: 102%;
}

p,
span {
  font-size: $text;
  font-family: $roboto;
  font-weight: 400;
  line-height: 150%;
  color: $kaizen-text;
}

body {
  background: white;
  width: 100%;
  scroll-behavior: smooth;
}
main {
  background: white;
  // padding-block: 20vh;
}
.section {
  margin: 270px 0;
}

//flex content

//center content
@mixin flexCenter($align: stretch, $justify: flex-start, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}
//center background
@mixin centerBackground() {
  background-position: center;
  background-size: cover;
}
// grid autofit
@mixin gridAutofit($min, $fr: 1fr) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, $fr));
}

//transition
@mixin transition($dur: 300ms) {
  transition: $dur ease-out;
}

///btn
// .btn-alt {
//   svg {
//     transform: rotate(-180deg);
//   }
//   &:hover {
//     svg {
//       transform: rotate(-160deg) !important;
//     }
//   }
// }
.outlined {
  background-color: transparent !important;
  border: 0.5px solid #3c4090;
}
.btn {
  // position: relative;
  padding: 5px 20px;
  background-color: $kaizen-blue-highlight;
  max-width: fit-content;
  @include flexCenter(center, stretch, row);
  gap: 8px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms ease-out;
  svg {
    transition: 100ms ease-out;
  }
  &:hover {
    box-shadow: 0px 0px 25px #00079623, 5px 5px 25px #13131319;
    .btn-content {
      transform: translateY(-55%);
    }
    svg {
      transform: rotate(-35deg);
    }
  }
  @media screen and (max-width: 450px) {
    max-width: 100%;
    &:hover {
      .btn-container {
        transform: translateY(0%) !important;
        svg {
          transform: rotate(-35deg);
        }
      }
    }
  }
  .btn-container {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;

    .btn-content {
      transition: 300ms ease-out;
      gap: 10px;
      @include flexCenter(center, flex-start, column);
      font-size: 1.125rem;
      span {
        font-family: $roboto;
        font-size: $btn-text;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.51px;
      }
    }
  }
  // .btn-content {
  //   @media screen and (max-width: 450px) {
  //     font-size: 1.2rem;
  //   }
  // }
  svg {
  }
}
.btn-alt-alt {
  // position: relative;
  padding: 5px 20px;
  background-color: $kaizen-blue-highlight;
  max-width: fit-content;
  @include flexCenter(flex-start, stretch, row);
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    .btn-content {
      transform: translateY(-55%);
      svg {
        transform: rotate(-35deg);
      }
    }
  }
  @media screen and (max-width: 450px) {
    max-width: 100%;
    &:hover {
      .btn-container {
        transform: translateY(0%) !important;
        svg {
          transform: rotate(-35deg);
        }
      }
    }
  }
  .btn-container {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;

    .btn-content {
      transition: 300ms ease-out;
      gap: 10px;
      @include flexCenter(center, flex-start, column);
      font-size: 1.125rem;
      span {
        font-family: $roboto;
        font-size: $btn-text;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.51px;
      }
    }
  }
  // .btn-content {
  //   @media screen and (max-width: 450px) {
  //     font-size: 1.2rem;
  //   }
  // }
  svg {
    fill: $kaizen-white;
  }
}

.hide-nav {
  opacity: 0;
  transform: translateY(-100%);
}
nav {
  z-index: 999999;
  position: sticky;
  top: -60px;
  pointer-events: none;
  transition: 200ms ease-out;
  // background: $kaizen-white;
  // mix-blend-mode: difference;
  @media screen and (max-width: 450px) {
    top: -60px;
  }

  .route-show {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-side {
    display: flex;
    align-items: center;
    gap: 10px;
    .mode {
      cursor: pointer;
    }
  }
  .nav-bg {
    position: absolute;
    top: -20vh;
    width: 100%;
    height: 150vh;
    background-color: #000000a6;
    pointer-events: all;
    backdrop-filter: blur(10px);
  }
  .nav-container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .nav-nav {
    z-index: 9999;
    position: relative;
    // margin: 0 auto;
    // overflow: hidden;
    // padding: 15px;
    padding-top: 8px;
    pointer-events: all;

    // & > div:nth-child(2) {
    //   -webkit-box-shadow: 0px 9px 41px -4px rgba(60, 64, 144, 0.62);
    //   -moz-box-shadow: 0px 9px 41px -4px rgba(60, 64, 144, 0.62);
    //   box-shadow: 0px 9px 41px -4px rgba(60, 64, 144, 0.62);
    // }
    span {
      font-weight: 600;
      letter-spacing: -0.9px;
    }
    .logo {
      cursor: pointer;
    }
    .nav-toggler {
      @include transition();
      padding: 5px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: 10px;
      span {
        width: 50px;
        height: 2px;
        background-color: $kaizen-black;
      }
    }
    .nav-toggler-off {
      @include transition();
      padding: 5px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: 0px;
      span {
        width: 50px;
        height: 2px;
        background-color: $kaizen-black;
      }
    }
    .desk-links {
      a {
        font-weight: 600;
        font-family: $century-gothic !important;
        letter-spacing: $letter-spaceing;
      }
    }
  }
  .row {
    z-index: 999;
    position: none;
    height: 50vh;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    background-color: $kaizen-white;
    border-radius: $standard-border;
    position: relative;
    pointer-events: all;
    @media screen and (max-width: 450px) {
      @include flexCenter(flex-start, stretch, column);
      // width: 100%;
    }
    // z-index: -1;
  }

  .nav-btn-container {
    flex: 1;
    overflow: hidden;
    position: relative;
    padding: 36px 30px;
    width: 100%;
    @include flexCenter(flex-end, stretch, row);
    // background-color: rgba(255, 0, 0, 0.303);
    height: 100%;
    cursor: pointer;
    @include transition();
    .btn {
      color: black !important;
      // position: absolute !important;

      min-width: 250px;
      .btn-container {
        max-width: 100%;
      }
      // margin: 20px;
      svg {
        fill: $kaizen-black;
      }
    } // padding-top: 280px;

    &:hover {
      .btn-container {
        transform: translateY(-50%);
        svg {
          transform: rotate(-35deg);
        }
      }
    }
    &:last-child {
      border-right: none;
    }
    @media screen and (max-width: 450px) {
      @include flexCenter(center, stretch row);
      .btn {
        // position: absolute !important;
        width: 50px !important;
        .btn-container {
          max-width: 100%;
        }
        // margin: 20px;
        svg {
          fill: $kaizen-black;
        }
      } //
      &:hover {
        .btn-container {
          transform: none !important;
          svg {
            transform: rotate(-35deg);
          }
        }
      }
      border-right: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.307);
    }
  }

  @media screen and (max-width: 450px) {
    .row {
      height: fit-content;
      // display: flex;
      flex-direction: column;
      a {
        font-size: $text;
      }
    }
  }
}

.headings {
  padding-block: 50px;
  font-family: $century-gothic;
  color: var(--kaizen-blue, #000796);
  @media screen and (max-width: 450px) {
  }
}
.headings-md {
  font-family: $century-gothic;
  font-size: $mediums;
  color: var(--kaizen-blue, #000796);
}

// footer //
// footer //
// footer //
footer {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-bottom: 40vh;
  // border-radius: $standard-borderx 90px 0 0;
  z-index: 1;
  .abs-- {
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    &:nth-child(1) {
      transform: translate(-500px, -200px) !important;
    }
    &:nth-child(2) {
      transform: translate(500px, 200px) !important;
    }
    svg {
      fill: linear-gradient(180deg, #a480ff 0%, #000796 100%);
      filter: blur(50px);
      animation: infinite-rotate 30s linear infinite;
    }
    @keyframes infinite-rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
  .container {
    z-index: 10;
    position: relative;
    @include flexCenter(center, flex-start, column);
    margin-top: 50px;
    height: 100%;
    gap: 50px;
    width: 100%;
  }
  .layer-up {
    width: 100%;
    height: fit-content;
    position: relative;

    @include flexCenter(center, space-between, row);

    .biggest-cta {
      flex: 1;
      max-width: 100%;
      h1 {
        font-size: $large;
        line-height: 102%;
      }
    }
    .social-ctas {
      flex: 1;
      width: 100%;
      @include flexCenter(center, flex-end, row);
      gap: 20px;
      a {
        font-size: $btn-text;
      }
    }
    @media screen and (max-width: 450px) {
      @include flexCenter(center, center, column);
      gap: 50px !important;
      .social-ctas {
        @include flexCenter(center, center, row);
      }
      .biggest-cta {
        @include flexCenter(center, space-between, column);
      }
    }
  }

  .kaizen-slide-infinite {
    pointer-events: none;
    position: absolute;
    z-index: 9999;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 30px;
    animation: slide 30s infinite linear;
    h1 {
      font-size: 20vw;
      opacity: 0.8;
      font-family: Century Gothic;
    }
  }
  @media screen and (max-width: 450px) {
    // height: 200vh;
    // padding: 10px;  @media screen and (max-width: 450px) {

    padding-bottom: 10vh !important;

    .layer-up {
      @include flexCenter(center, center, column);
      flex-direction: column !important;
      gap: 5px;
      .social-ctas {
        width: 100%;
      }
    }
    // .kaizen-slide-infinite {
    //   position: relative;
    //   display: flex;
    //   gap: 30px;
    //   animation: slide 130s infinite linear;
    //   h1 {
    //     font-size: 40vw !important;
    //     opacity: 0.1;
    //     font-family: Century Gothic;
    //   }
    // }
  }
}
.display-container {
  z-index: 99999999;
  position: fixed;
  inset: 0;
  background: #1a1a1a79;
  backdrop-filter: blur(20px);
  color: white;
}

@keyframes slide {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(-30%);
  }
}

// darkmode settings
// darkmode settings
// darkmode settings

.darkmode {
  main {
    ::selection {
      background: $kaizen-white;
      color: $kaizen-black;
    }
    background: $kaizen-black;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p {
      color: $kaizen-white;
    }

    //accordion
    .acc-general {
      border: 2px solid #00000046;
      background: var(--kaizen-white, #ffffff);
      color: $kaizen-blue !important;
    }
    .acc-container {
      h3 {
        font-family: Century Gothic;
        font-size: $mediums;
        color: $kaizen-blue;
      }
      p {
        color: $kaizen-text;
      }
      @media screen and (max-width: 450px) {
        height: 70px;
      }
    }
    .acc-container-active {
      border: 2px solid #00000046;

      background: var(--kaizen-white, #f2f2f2);
      h3 {
        font-family: Century Gothic;
        font-size: $mediums;
        color: $kaizen-blue;
      }
      p {
        color: $kaizen-text;
      }
      span > span {
        color: $kaizen-blue-highlight;
      }
    }

    //approaches
    .app-card-cont {
      background: $kaizen-white !important;
    }

    .project {
      .hr {
        background: #ffff !important;
      }
    }
    .filter {
      h3 {
        color: white;
      }
      svg {
        fill: white;
      }
      & div:has(button) {
        button {
          text-align: left !important;
          width: 100%;
          padding: 10px 20px;
          color: $kaizen-white;
          border: 0.5px solid $kaizen-white !important;
        }
        button.active {
          border: none !important;
        }
      }
    }
    //footer
    footer {
      .container {
        z-index: 10;
        position: relative;
        @include flexCenter(center, flex-start, column);
        margin-top: 50px;
        height: 100%;
        gap: 50px;
        width: 100%;
      }
    }
  }
}
