@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic"), local("CenturyGothic"),
    url("/assets/font/CenturyGothic.woff2") format("woff2"),
    url("/assets/font/CenturyGothic.woff") format("woff");
  font-display: swap;
}
////VARIABLES/////
////VARIABLES/////
////VARIABLES/////
////VARIABLES/////
//container

//typography
//sizes
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

html {
  font-size: 100%;
} /*16px*/

// * {
//   -webkit-tap-highlight-color: transparent;
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

h1,
h2,
h3,
h4,
h5 {
  // margin: 3rem 0 1.38rem;
  // font-weight: 400;
  font-family: "Century Gothic", sans-serif;
  line-height: 1.5 !important;
}
/* For h1 */
h1 {
  font-size: clamp(3rem, 6vw, 5.653rem);
  font-weight: 700;
  letter-spacing: -2px !important;
}

/* For h2 */
h2 {
  font-size: clamp(2rem, 4vw, 3.998rem) !important;
  line-height: 1.2 !important;
}

/* For h3 */
h3 {
  font-size: clamp(1.5rem, 3vw, 2.827rem);
}

/* For h4 */
h4 {
  font-size: clamp(1.8rem, 2vw, 1.999rem);
}

/* For h5 */
h5 {
  font-size: clamp(0.8125rem, 1.5vw, 1.414rem) !important;
}

/* For small text */
small,
.text_small {
  font-size: clamp(0.5rem, 1vw, 0.707rem) !important;
}

@media print {
  @page {
    size: landscape;
  }

  .no-print {
    display: none;
  }
  .page-break {
    page-break-before: always; /* Insert a page break before this element */
  }
  img {
    max-width: 100%;
  }
}
