@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/globals";
@import "./styles/about";

.word-spacing::after {
  content: "\00a0 "; /* Unicode non-breaking space */
  margin-right: 4px; /* Adjust the value to set the desired spacing between words */
}

.kaizen-slide-infinite {
  // animation: slide 30s infinite linear;
  h1 {
    font-size: 28vw;
    opacity: 0.8;
    font-family: Century Gothic;
    background-size: cover;
    background: url(https://res.cloudinary.com/kaizen-img/image/upload/v1699057294/bg6.jpg);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.511);
  }
}
.sliding-service {
  animation: sliding linear 20s infinite;
}
.animate-slide {
  animation: slide-anim linear 20s infinite;
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.slider {
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100%;
  // overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
}
.track {
  animation: scroll 40s linear infinite;
  display: flex;
  gap: 20px;
  width: calc(400px * 6);
  &:hover {
    animation-play-state: paused;
  }
}

.slider-logos {
  // background: red;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100%;
  // overflow: hidden;
  position: relative;
  width: 960px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
}
.track-logos {
  animation: scrollLogos 60s linear infinite;
  display: flex;
  gap: 60px;
  width: calc(80px * 24);
  &:last-child {
    animation: scrollLogos 50s linear reverse infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 3));
  }
}
@keyframes scrollLogos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-80px * 12));
  }
}
.spin {
  animation: spin linear 30s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-anim {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-200%);
  }
}
@keyframes sliding {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-50%);
  }
}
